
*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}



body{

background:#050505;

color:white;

min-height:100vh;

overflow-x:hidden;

}




.fondo{

position:fixed;

inset:0;

background-size:cover;

background-position:center;

filter:blur(25px);

opacity:.25;

z-index:-1;

}





.player-header{

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 5%;

background:rgba(0,0,0,.6);

}





.logo{

font-size:30px;

font-weight:bold;

color:#ffd166;

}





.player-header a{


background:#22222c;

padding:12px 25px;

border-radius:30px;

color:white;

text-decoration:none;

cursor:pointer;

}





.player-container{


min-height:90vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

padding:40px;

}





.player-container h1{


font-size:45px;

margin-bottom:30px;

text-align:center;


}





.video-box{


width:90%;

max-width:1200px;

background:black;

border-radius:20px;

overflow:hidden;

box-shadow:0 0 40px rgba(0,0,0,.8);


}





video{


width:100%;

display:block;


}





.informacion{


margin-top:25px;


}



.informacion p{


font-size:20px;

color:#ccc;


}





.acciones{


display:flex;

gap:20px;

margin-top:30px;


}




.acciones button{


padding:14px 30px;

border:none;

border-radius:30px;

background:#ffd166;

cursor:pointer;

font-size:16px;

font-weight:bold;


}





.acciones button:hover{


transform:scale(1.05);


}





@media(max-width:800px){



.player-container h1{


font-size:30px;


}



.video-box{


width:100%;


}


}
