*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#09090d;
color:white;

}



header{

height:80px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 5%;
background:#0c0c12;

}


.logo{

font-size:30px;
font-weight:bold;
color:#ffd166;

}


nav a{

color:white;
text-decoration:none;
margin-left:25px;

}




.hero{

height:70vh;

background:
linear-gradient(
to right,
#09090d,
transparent
),
url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba")
center/cover;


display:flex;
align-items:center;
padding:5%;


}


.hero h1{

font-size:55px;
max-width:700px;

}


.hero p{

margin-top:20px;
font-size:20px;
color:#ddd;

}


button{

margin-top:20px;
padding:12px 25px;
border:none;
border-radius:30px;
background:#ffd166;
cursor:pointer;

}





.busqueda{

padding:30px 5%;

}


input{

width:100%;
padding:15px;
border-radius:20px;
border:none;
font-size:18px;

}



section{

padding:30px 5%;

}



.filtros button{

margin-right:10px;
background:#20202b;
color:white;

}



.catalogo{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:25px;

}



.card{

background:#15151d;
border-radius:15px;
overflow:hidden;
transition:.3s;

}


.card:hover{

transform:translateY(-10px);

}



.card img{

width:100%;
height:270px;
object-fit:cover;

}



.card h3{

padding:15px;

}


.card p{

padding:0 15px;
color:#aaa;

}



footer{

text-align:center;
padding:40px;
color:#777;

}
